{% extends "base.html" %}
{% block title %}HOME{% endblock %}
{% block head %}
{{ super() }}
<style>
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.VisitorCount {
    position: fixed;  /* Fix position relative to viewport */
    right: 100px;      /* 20px from the right */
    bottom: 20px;     /* 20px from the bottom */
    width: 50px;      /* Adjust size as needed */
    height: 50px;     /* Keep it proportional */
    z-index: 1000;    /* Ensure it stays above other elements */
}
.page_content {
    display: flex;
    height: 100vh;
}

.photo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
}

.photo img {
    width: 100%;
    height: auto;
    max-width: 500px;
    border-radius: 10px;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 48px;
    margin: 0;
    color: #333;
}

p {
    font-size: 18px;
    color: gray;
    margin-top: 10px;
}

</style>
{% endblock %}
{% block page_content %}
<div class="page_content">
    <div class="photo">
        <img src="{{ url_for('static', filename='gallery/razak.jpg') }}" alt="Razak" />
    </div>
    <div class="content">
        <h1>RAZAK MD</h1>
        <p>District Project Manager, e-Panchayat, Peddapalli</p>
    </div>
</div>
<br>
<div class="VisitorCount">
    <!--<p style="text-align: right;">Total Visitors: <strong>{{visitor_count}}</strong></p>-->
    <!-- hitwebcounter Code START -->
<a href="https://www.hitwebcounter.com" target="_blank">
<img src="https://hitwebcounter.com/counter/counter.php?page=20105256&style=0001&nbdigits=6&type=page&initCount=0" title="Counter Widget" Alt="Visit counter For Websites"   border="0" /></a>  
</div>

{% endblock %}
